<% layout('layouts/boilerplate') %>
<div class="row justify-content-center">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-md-6">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" id="title" name="campground[title]" class="form-control" value="<%= campground.title %>" required>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location:</label>
                <input type="text" id="location" name="campground[location]" class="form-control" value="<%= campground.location %>" required>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" aria-label="price-label"
                        aria-describedby="price-label" id="price" name="campground[price]" value="<%= campground.price %>" required>
                        <div class="valid-feedback">Looks Good!</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea type="text" id="description" name="campground[description]" class="form-control" required><%= campground.description %>"</textarea>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Add Images:</label>
                <input type="file" name="image" id="image" multiple class="form-control">
            </div>
            <div class="mb-3">
                <% campground.images.forEach(function(img, i) { %>
                    <div class="mb-3 d-inline-block" style="width: 49%; text-align: center;">
                        <label for="image-<%= i %>">
                            <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail">
                        </label> <br>
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImages[]" id="image-<%= i %>" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%= i %>" class="form-check-label">Delete Image?</label>
                    </div>
                <% }) %> 
            </div>
            <div class="mb-3 text-center">
                <button class="btn btn-danger">Update</button>
            </div>
        </form>
    </div>
</div>